body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #d5dde7;
  color: #000;
  width: 700px;
  margin: 20px auto;
}

article {
  width: 540px;
}

h1 {
  font-size: 2.2em;
  line-height: 1.4em;
  color: #000;
  background-color: #e4e4e4;
}

#standfirst {
  font-size: 1.1em;
  line-height: 1.3em;
}

#dateline {
  text-transform: uppercase;
  color: #000;
  font-size: 0.85em;
}

img {
  display: block;
  border: 0;
  margin: 30px 0;
}

a img {
  display: inline;
  margin: 0;
  padding: 0;
}

p {
  margin: 25px 0;
  color: #333;
  line-height: 1.6em;
}

blockquote {
  margin-left: 40px;
  font-style: italic;
}


#nav, #contacts {
  display: block;
  background-color: #;
  margin: 60px 0;
  border-top: 1px solid #eee;
}

#nav h2, #contacts h2 {
  font-size: 1.6em;
  margin: 30px 0;
}

#nav li {
  background-color: #fff;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px dotted #eee;
}

#nav a, #contacts a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
}

#nav a:hover, #contacts a:hover {
  color: #fff;
  background-color: #000;
  padding: 5px 10px;
}

#nav a:visited, #contacts a:visited {
  color: #777;
  padding: 5px 10px;
}

#nav .current {
  background-color: red;
  color: white;
  padding: 5px 10px;
}

#warning {
  width: 100%;
  text-align: left;
  background-color: #aaa;
  color: #fff;
  margin: 0 0 60px 0;
  padding: 20px;
  line-height: 1.5em;
}

#warning a, #warning a:visited {
  color: #fff;
}